<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziyuan.web.manager.dao.InfoConstantMapper">

	<select id="selectSkuType" resultType="com.ziyuan.web.manager.domain.InfoConstant">
		SELECT * from info_constant WHERE type = 'type'
	</select>
	
</mapper>