<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	
	<springProperty scope="context" name="logLevelRoot" source="logging.level.root" defaultValue="info"/>
    <springProperty scope="context" name="logPath" source="logging.path" defaultValue="info"/>
    
    <springProperty scope="context" name="logLevelConsole" source="logging.level.console" defaultValue="info"/>
    <springProperty scope="context" name="logLevelSys" source="logging.level.sys" defaultValue="info"/>
    <springProperty scope="context" name="logLevelRequest" source="logging.level.request" defaultValue="info"/>
    <springProperty scope="context" name="logLevelHttp" source="logging.level.http" defaultValue="info"/>
    <springProperty scope="context" name="logLevelError" source="logging.level.error" defaultValue="info"/>
    
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>  
				<expression>logger.contains("springframework")</expression>
			</evaluator>
			<OnMismatch>NEUTRAL</OnMismatch>
			<OnMatch>DENY</OnMatch>
		</filter>
		-->
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%C{2}] - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="stdout-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>${logPath}/console.%d{yyyy-MM-dd}.log</fileNamePattern>
			<MaxHistory>999</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%C{2}] - %m%n
			</pattern>
		</encoder>
	</appender>
	<appender name="sys"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>${logPath}/sys.%d{yyyy-MM-dd}.log</fileNamePattern>
			<MaxHistory>999</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>[SYS]%d %C{2}-%L:%m%n
			</pattern>
		</encoder>
	</appender>
	<appender name="request"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>${logPath}/request.%d{yyyy-MM-dd}.log</fileNamePattern>
			<MaxHistory>999</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d-%m%n
			</pattern>
		</encoder>
	</appender>
	<appender name="http"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>${logPath}/http.%d{yyyy-MM-dd}.log</fileNamePattern>
			<MaxHistory>999</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d-%m%n
			</pattern>
		</encoder>
	</appender>
	<appender name="error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>${logPath}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<MaxHistory>999</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d-%m%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="console" level="logLevelConsole">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="sys" level="debug" additivity="true">
		<appender-ref ref="sys" />
	</logger>
	<logger name="request" level="logLevelRequest" >
		<appender-ref ref="request" />
	</logger>
	<logger name="http" level="logLevelHttp">
		<appender-ref ref="http" />
	</logger>
	<logger name="error" level="${logLevelError}">
		<appender-ref ref="error" />
	</logger>
	
	<root level="info" >
		<appender-ref ref="stdout-file" />
		<appender-ref ref="stdout" />
	</root>
</configuration> 